.aboutbox > article{
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1.5em;
}

.aboutimg{
    grid-row: 1 / 6 ;
}

.aboutbox{
    padding: 5em 0 5em 0;
}