input, textarea{
    border: 1px solid #AAAAAA;
}

textarea{
    resize: none;
}

.map{
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
}

.kaart{
    width: 100%;
    height: auto;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 60% 1fr;
    grid-gap: 1em;
    padding: 1em;
}

.subject, textarea{
    grid-column: span 2;
}

.contactbox{
    padding: 5em 0 5em 0;
}