input, textarea{
    border: 1px solid #AAAAAA;
}

textarea{
    resize: none;
}

.map{
    margin-top: 3em;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
}

.kaart{
    width: 100%;
    height: auto;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 60% 1fr;
    grid-gap: 1em;
  
}

.subject, textarea{
    grid-column: span 2;
}

.contactbox{
    padding: 5em 0 5em 0;
}

@media screen and (max-width: 900px){
    .form{
         grid-column-gap: 0;
    }

    .headbar{
        border-bottom: 1px solid #AAAAAA;
    }
}

@media screen and (max-width: 450px){

    .map{
       display: flex;
       flex-flow: column;
    }

    .form{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 1.5em;
    }

    input, textarea{
        margin-bottom: 1.5em;
        border-radius: 0;
        width: 100%;
    }

    
}