.banner{
    background-image: url('../images/banner-bg.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro > div{
    background-color: rgba(256,256,256,0.8);
    width: 40%;
    padding: 2em;

}

.intro {
    padding-top: 7em;
}

.featured{
    padding-top: 4em;
    padding-bottom: 4em;
}

.items{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 3em;
    overflow: scroll;
    scrollbar-width: none;
}


.productbox:not(:last-of-type){
    margin-right: 1.5em;
}



.productimgbox{
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.product{
    display: block;
}


