.banner{
    background-image: url('../images/banner-bg.jpg');
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro > div{
    background-color: rgba(256,256,256,0.8);
    width: 40%;
    padding: 2em;

}

.intro {
    padding-top: 7em;
}

.featured{
    padding-top: 4em;
    padding-bottom: 4em;
}

/*.items{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 3em;
    overflow: scroll;
    scrollbar-width: none;
}*/

.items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5em;
    margin-top: 3em;
}






.product{
    display: block;
    width: 100%;
    height: auto;
}


