

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5em;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 3em;
}

.product{
    width: 100%;
    height: auto;
}

.categories{
    font-weight: bold;
}

.categories > li{
    display: inline-block;
    padding-left: 2em;
}

.shopbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4em;
    margin-top: 5em;
}

@media screen and (max-width: 900px){
    .headbar{
        border-bottom: 1px solid #AAAAAA;
    }
}

@media screen and (max-width: 450px){
    .products{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    .productbox:not(:last-child){
        margin-bottom: 1.5em;
    }

    .shopbar{
        flex-flow: column;
        align-items: flex-start;
    }

    .categories{
        padding-top: 1em;
    }

    .categories > li{
        padding-left: 0;
        padding-right: 2em;
    }
}