

.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.5em;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 3em;
}

.product{
    width: 100%;
    height: auto;
}

.categories{
    font-weight: bold;
}

.categories > li{
    display: inline-block;
    padding-left: 2em;
}

.shopbar{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 4em;
    margin-top: 5em;
}